:root{
    --primary-color:#FF5959;
    --secondary-color:#707070;
    --white-color:#FFFFFF;
    --inter:'Inter', sans-serif;
    --poppins:'Poppins', sans-serif;
    --lobster:'Lobster', cursive;
    --manrope: 'Manrope', sans-serif;
    --roboto: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */
.header{
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%) , url(../img/Rectangle\ 237.png);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header .header-content{
    Width:826px;
    Height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header .header-content h1{
    font-family: 'Inter', sans-serif;
    font-size: 65px;
    font-weight: 700px;
    color: var(--white-color);
    text-align: center;
}
.header .header-content p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400px;
    color: var(--white-color);
    margin: 20px 0px 30px 0px;
    text-align: center;
}
.button{
    height: 56px;
    width: 160px;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600px;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
}
/* donate section */
.donate-section > h1{
    font-family: var(--inter);
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    margin-top: 140px;
}
.donate-section > p{
    height: 56px;
    width: 691px;
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: var(--secondary-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}
.donate-section .money-section{
    display: flex;
    justify-content: center;
}
.donate-section .money-section .money{
    display: flex;
}
.donate-section .money-section .money > div{
    height: 123px;
    width: 135px;
    border-radius: 5px;
    font-family: var(--inter);
    font-weight: 700;
    font-size: 30px;
    color: var(--secondary-color);
    text-align: center;
    line-height: 123px;
    margin-left: 22px;
    border: 2px solid transparent;
    margin-bottom: 10px;
    background-color: #FAFAFA;

}
.donate-section .money-section .money > div:hover{
   background-color: #FAFAFA ;
   color: var(--primary-color);
   cursor: pointer;
   border-radius: 5px;
   border: 2px solid var(--primary-color);
}
.donate-section .money-section .money .tk{
    color: var(--primary-color);
    background-color: #FFEEEE;
    border: 2px solid var(--primary-color);
}
.donate-section .money-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}
.donate-section .money-input input{
    border: none;
    border-bottom: 1px solid #DADADA;
    text-align: center;
    height: 40px;
    color: #B3B3B3;
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 18px;
    width: 765px;
    margin-bottom: 30px;

}
.donate-section .money-input input::placeholder{
    color: #B3B3B3;
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}
/* donate plan */
.donate-plan-section .donate-plan-contents h1{
   
    font-family: var(--inter);
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    margin-top: 130px;
}
.donate-plan-section .donate-plan-contents p{
   
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: var(--secondary-color);
    width: 691px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}
.donate-plan-section .donate-plan-cards{
    display: grid;
    grid-template-columns: repeat(3,360px);
    grid-template-rows: 352px;
    grid-column-gap:24px ;
    justify-content: center;
}
.donate-plan-section .donate-plan-cards img{
    margin-left: 23px;
    margin-top: 63.5px;
}
.donate-plan-section .donate-plan-cards h1{
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 24px;
    margin-top: 31.73px;
    margin-bottom: 16px;
    margin-left: 23px;
}
   

.donate-plan-section .donate-plan-cards p{
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 16px;
    width: 315px;
    height: 101px;
    color: var(--secondary-color);
    margin-left: 23px;
}
.donate-plan-section .donate-plan-cards .card-1{
    background-color: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
}
.donate-plan-section .donate-plan-cards .card-2{
    background-color: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
}
.donate-plan-section .donate-plan-cards .card-3{
    background-color:#FFF4D6;
    border-radius: 5px;
}
/* depend section */

.depend-section{
    display: flex;
    justify-content: center;
    margin-top: 130px;
}

.depend-section .depend-section-contents h1{
    width: 492px;
    height: 108px;
    font-family: var(--inter);
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}

.depend-section .depend-section-contents p{
    width: 482px;
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 18px;
    color: var(--secondary-color);
}
.depend-section .depend-section-contents button{
    width: 230px;
    height: 56px;
    background-color: var(--primary-color);
    font-family: var(--inter);
    font-weight: 600;
    font-size: 20px;
    border: none;
    color: #FFFFFF;
    border-radius: 5px;
    margin-top: 30px;

}
.depend-section .depend-section-img{
    margin-left: 83px;
   
}
/* servive section */

.servive-section{
    display: flex;
    justify-content: center;
    margin-top: 152px;
}
.servive-section .servive-section-img{
    margin-right: 94px;
   
}

.servive-section .servive-section-contents h1{
    width: 492px;
    height: 108px;
    font-family: var(--inter);
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}

.servive-section .servive-section-contents p{
    width: 482px;
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 18px;
    color: var(--secondary-color);
}
.servive-section .servive-section-contents button{
    width: 230px;
    height: 56px;
    background-color: var(--primary-color);
    font-family: var(--inter);
    font-weight: 600;
    font-size: 20px;
    border: none;
    color: #FFFFFF;
    border-radius: 5px;
    margin-top: 30px;

}

/* update section */

.update-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.update-section .update-section-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.update-section .update-section-contents h1{
    width: 691px;
    font-family: var(--inter);
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    margin-top: 130px;
}
.update-section .update-section-contents p{
    width: 691px;
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: var(--secondary-color);
    margin-top: 20px;
}
.update-section .update-section-cards{
    width: 809px;
    height: 200px;
    background-color: #FFF4D6;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.update-section .update-section-cards .form input{
    width: 275px;
    height: 48px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 5px 0px 0px 5px;
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 16px;
    padding-left: 17px;
    color: #AA9F9F;
    
}
.update-section .update-section-cards .form input::placeholder{
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 16px;
    padding-left: 17px;
    color: #AA9F9F;
    
}
.update-section .update-section-cards .form button{
    width: 157px;
    height: 48px;
    background-color: var(--primary-color);
    border: none;
    color: #FFFFFF;
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
}
/* footer */
.footer{
    height: 177px;
    background-color: #0B0D17;
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .footer-content{
    
}
.footer .footer-content h1{
    font-family: var(--lobster);
    font-weight: 400;
    font-size: 36px;
    color: var(--primary-color);
    margin-top: 43px;
}
.footer .footer-content p{
    font-family: var(--manrope);
    font-weight: 400;
    font-size: 14px;
    color:  #D9DBE1;
    text-align: center;
    margin-bottom: 42px;
    margin-top: 24px;
}

